::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.ghostbox {
  visibility: hidden;
  cursor: none;
}
